body {
    padding: 0px;
    margin: 0px;
    background-color: #3D3D3D;
    color: #FFF;
}

.menuButton {
    margin: .5em;

    width: 11em;
}

#btnMenu{
    margin: auto;
    width: 5em;
}

#bIcon{
    margin: auto;
    width: 11em;
}

.fullArea {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.fileSelector {
    position: relative;
    top: 5em;
    transform: translateY(0);
    will-change: transform;
    z-index: 11;
    margin: auto;
    width: 12em;
    animation-name: maximize;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.loadText{
    display: flex;
    flex-direction: column;
    margin:4em;
    justify-content: center;
    align-content: center;  
}

@keyframes minimize {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-35.5em);
    }
}

@keyframes maximize {
    from {
        transform: translateY(-35.5em);
    }
    to {
        transform: translateY(0);
    }
}

/*medium sized screen*/
@media (min-width: 400px) {
    .menuButton {
        width: 18em;
    }
    .fileSelector {
        width: 18em;
    }
    #bIcon{
        margin: auto;
        width: 18em;
    }
}

/*big sized screen*/
@media (min-width: 1000px) {
    .menuButton {
        width: 25em;
    }
    .fileSelector {
        width: 25em;
    }
    #bIcon{
        margin: auto;
        width: 25em;
    }
}
