body {
    padding: 0px;
    margin: 0px;
    background-color: #3D3D3D;
    color: #FFF;
}

#selectButton {
    margin: auto;
    max-width: 100%;
}

.fullArea {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.fileSelector {
    position: relative;
    top: 5em;
    transform: translateY(0);
    will-change: transform;
    z-index: 10;
    margin: auto;
    max-width: 100%;
    animation-name: maximize;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes minimize {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-19.5em);
    }
}

@keyframes maximize {
    from {
        transform: translateY(-19.5em);
    }
    to {
        transform: translateY(0);
    }
}

@media (min-width: 400px) {
    #selectButton {
        max-width: 400px;
    }
    .fileSelector {
        max-width: 400px;
    }
}
