body {
    padding: 0px;
    margin: 0px;
    background-color: #3D3D3D;
    color: #FFF;
}

.menuButton {
    margin: auto;
    max-width: 100%;
}

.fullArea {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.fileSelector {
    position: relative;
    top: 5em;
    transform: translateY(0);
    will-change: transform;
    z-index: 10;
    margin: auto;
    max-width: 100%;
    animation-name: maximize;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.loadText{
    display: flex;
    flex-direction: column;
    margin:4em;
    justify-content: center;
    align-content: center;  
}

@keyframes minimize {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20.5em);
    }
}

@keyframes maximize {
    from {
        transform: translateY(-20.5em);
    }
    to {
        transform: translateY(0);
    }
}

@media (min-width: 400px) {
    .menuButton {
        max-width: 400px;
    }
    .fileSelector {
        max-width: 400px;
    }
}
